/.ipynb_checkpoints
/ai
/AI Assignment.docx
/anova_kruskal_results.csv
/boxplots.png
/checkpoint.pth
/chk
/MONAI.ipynb
/pca_scatter.png
/Report.docx
/segmentation_clusters.csv
/segmentation_features.csv
/swarm_plots.png
/tukey_Mean Intensity.txt
/tukey_PCA1.txt
/tukey_PCA2.txt
/tukey_Std Intensity.txt
/tukey_Volume.txt